<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>departments list seite</title>
	<meta charset="utf-8" />
</head>
<body>
<main role="main">
<p>Deine Departments</p>
	<ul th:each="department : ${departments}">
		<li>
			<a th:href="@{'/department/' + ${department.name}}" th:text="${department.name}" href="#">department name</a>
		</li>
	</ul>
</main>
</body>
</html>
